body {
  padding: 10%;
  padding-top: 2%;
}

section#judul {
  padding-top: 20px;
}
h1 {
  color: tomato;
}

h1.judul {
  text-align: center;
  color: gray;
}

div.photo {
  padding-top: 15px;
  width: 150px;
  height: 150px;
  top: -70px;
  right: 100px;
  position: relative;
  float: right;
  border: 2px solid grey;
}

div.photo h3 {
  text-align: center;
}
div.photo p {
  font-size: 12px;
  text-align: center;
}
.mybtn {
  border: 0px;
  background-color: transparent;
  height: 45px;
  width: 100%;
}

section.isi-form {
  margin-top: 120px;
  padding-left: 5%;
}

section.isi-form div.judul-form h4 {
  font-family: sans-serif;
}

input.form {
  height: 20px;
  width: 100%;
  border-style: none;
  border-bottom: 1px solid;
}

textarea {
  width: 100%;
  border-radius: 25px;
}

select {
  width: 100%;
  border-radius: 10px;
  padding: 5px;
}

select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

select option {
  font-family: monospace;
}

.icons {
  color: green;
}

hr.pertama {
  height: 5px;
  margin-top: 10px;
  background-color: black;
}
hr.kedua {
  height: 2px;
  background-color: black;
  margin-bottom: 10px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
